# Byte-compiled / optimized / DLL files
controllers/cvt/__pycache__/
controllers/sml/inc/__pycache__/

# config files
Pipfile
Pipfile.lock
.python-version

.github/workflows/notification.yml

# Data files
# bems/
artisoc/
.ipynb_checkpoints/
out/
data/src/
# data/
# *.json
# *.csv

# Cache files
*.pyc
__pycache__/
.cache/

ubuntu-xenial-16.04-cloudimg-console.log

# Documents
docs/

data/
# License
LICENSE

# Shell files
.bash_history

# Vagrant files
.vagrant

# bemsfile
source/
eval/
bems/

# evaluation file
# eval/

# Readme file
README.md

#Docker file
analysis.ipynb
prototype.ipynb
docker-compose.yml
Dockerfile