[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eel = "*"
numpy = "==1.21.2"
matplotlib = "==3.4.3"
mesa = "==0.8.9"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
