<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thermal Environment Simulator</title>
</head>
<body>
    <!-- メニュー -->
    <nav>
        <a href="setting.html">環境設定</a>
        
        <a href="doing.html">実行</a>
        
        <a href="evaluation.html">評価</a>
    </nav>

    <!-- 中身-->
    <div id="content">
        <h1>環境設定</h1>

        <div id='setting_input'>
            <label>実行回数を入力（1回で1分のシミュレーション）</label><br>
            <input type="number" id="number_of_times" maxlength="5" value="1440" placeholder="5桁以内で入力"><br>
        
            <label>出力先フォルダのパスを入力</label><br>
            <input type="text" id="input_folder_place" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
        
            <label>BEMSファイル（評価用データ）のパスを入力</label><br>
            <input type="text" id="bems_folder_place" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
        
            <label>制御計画フォルダのパスを入力</label><br>
            <input type="text" id="control_folder_place" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
        
            <label>熱源情報フォルダのパスを入力</label><br>
            <input type="text" id="hot_position_folder_place" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
        </div>

        <div class="config-save">
            <button type='button' id="config-save-button" onclick="save_setting();" id='save'>保存</button>
        </div>

        <div id="output"></div>

    </div>

<script type="text/javascript" src="C:/kankyou/agent-simulation-system/view/test/html/js/setting.js"></script>
</body>
</html>