<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thermal Environment Simulator</title>

    <script type="text/javascript" language="javascript">
        const save_setting = () =>{
            const number_of_times = document.getElementById("number_of_times");
            const inputValue = number_of_times.value;

            const output = "「"+inputValue+"」"
            document.getElementById("output-message").innerHTML = output;
        }
    </script>
</head>
<body>
    <!-- メニュー -->
    <nav>
        <a href="setting.html">環境設定</a>
        <a href="layout_setting.html">レイアウト</a>
        <a href="doing.html">実行</a>
        <a href="result.html">結果確認</a>
        <a href="evaluation.html">評価</a>
    </nav>

    <!-- 中身-->
    <div id="content">
        <h1>環境設定</h1>

        <div id='setting_input'>
            <label>実行回数を入力（1回で1分のシミュレーション）</label><br>
            <input type="text" id="number_of_times" maxlength="5" value="1440" placeholder="5桁以内で入力"><br>
        
            <label>出力先フォルダのパスを入力</label><br>
            <input type="text" name="input_folder_place" maxlength="100" value="" placeholder="100文字以内で入力"><br>
        
            <label>BEMSファイル（評価用データ）のパスを入力</label><br>
            <input type="text" name="bems_folder_place" maxlength="100" value="" placeholder="100文字以内で入力"><br>
        
            <label>制御計画フォルダのパスを入力</label><br>
            <input type="text" name="control_folder_place" maxlength="100" value="" placeholder="100文字以内で入力"><br>
        
            <label>熱源情報フォルダのパスを入力</label><br>
            <input type="text" name="hot_position_folder_place" maxlength="100" value="" placeholder="100文字以内で入力"><br>
        </div>

        <div class="config_save">
            <button type='button' id="config_save_button" onclick="save_setting()" id='save'>保存</button>
        </div>

        <p id="output"></p>

    </div>

<!-- <script type="text/javascript" src="C:/kankyou/agent-simulation-system/view/test/html/js/setting.js"></script> -->
</body>
</html>