<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thermal Environment Simulator</title>
</head>
<body>
    <!-- メニュー -->
    <nav>
        <a href="#">環境設定</a>
        <a href="#">レイアウト</a>
        <a href="#">実行</a>
        <a href="#">結果確認</a>
        <a href="#">評価</a>
    </nav>

    <!-- 中身-->
    <div id="content">
        <h1>結果確認</h1>

        <!-- フォルダ選択セレクトボックス -->
        <h3>フォルダ選択</h3>
        <select>
            <option value="">結果フォルダを選択してください</option>
        </select>

        <!-- フロア選択セレクトボックス-->
        <h3>フロア選択</h3>
        <select>
            <option value="">フロアを選択してください</option>
        </select>

        <!-- ヒートマップ出力 -->
        <h3>ヒートマップ</h3>
        <div id="heatmap"></div>

        <!-- グラフ出力 -->
        <h3>グラフ</h3>
        <div id="graph"></div>

    </div>
</body>
</html>