<!DOCTYPE html>
<html lang="en">
<script src='js/component/header.js'></script>
<body>
    <!-- メニュー -->
    <script src='js/component/global_nav.js'></script>
    
    <!-- 中身-->
    <div id="content">
        <!-- シミュレーション設定コンテンツ-->
        <div class="configure-card">
            <div class="row">
                <div class="col s12 m2 l7">
                  <div class="card blue-grey white">
                    <div class="card-content grey-text text-darken-3">
                      <span class="card-title">シミュレーション設定</span>
                      <p>シミュレーション実行時の入出力ファイルの設定を行います</p>
                        <div id='setting_input' class="setting-form">
                            <label>シミュレーション開始日時</label><br>
                            <input type="datetime-local" id="start_time" class="start-time" placeholder="5桁以内で入力"><br>
                            <label>シミュレーション終了日時</label><br>
                            <input type="datetime-local" id="finish_time" placeholder="5桁以内で入力"><br>
                            <label>BEMSファイル（評価用データ）のパスを入力</label><br>
                            <input type="text" id="bems_folder_path" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
                            <label>制御計画フォルダのパスを入力</label><br>
                            <input type="text" id="control_folder_path" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
                            <label>シミュレーションを行う階のレイアウトファイルパスを入力</label><br>
                            <input type="text" id="layout_input_folder_path0" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
                            
                            <label>シミュレーションを行う階のスケルトンファイルパスを入力</label><br>
                            <input type="text" id="skeleton_layout_input_folder_path0" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>

                            <div id="skeletom_layout_folder_inputform"></div>
                                <label>シミュレーションを行う階の熱源情報フォルダのパスを入力</label><br>
                                <input type="text" id="hot_position_folder_path0" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
                                <div id="hot_position_folder_inputform"></div>
                                <br><label>出力先フォルダのパスを入力</label><br>
                                <input type="text" id="output_folder_path" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
                            </div>
                        </div>
                        <div class="config-save">
                            <div class="row">
                                <a id="config_save_button" onclick="save_setting();" class="waves-effect waves-light btn-large blue"><h5>保存</h5></a>
                            </div>
                            <!--<button type='button' class="" id="config_save_button" onclick="save_setting();">保存</button>-->
                        </div>
                  </div>
                </div>
                <div class="col s12 m2 l5">
                    <div class="card blue-grey white">
                      <div class="card-content grey-text text-darken-3">
                        <span class="card-title">現在の設定</span>
                        <p>現在のファイル設定のプレビューを表示します</p>
                        <div class="preview-setting">
                            <div id="output"></div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
        </div>
        
        <!-- レイアウトの設定コンテンツ-->
        <div class="layout-card">
            <div class="row">
                <div class="col s12 m2 l6">
                    <div class="card blue-grey white">
                        <div class="card-content grey-text text-darken-3">
                            <span class="card-title">レイアウト設定3D</span>
                            <p>3次元のレイアウト設定</p>
                            <p>画像内でクリックしながらカメラ視点を移動できます</p>
                            <div class="layout-form">
                                <div class="input-field">
                                    <select id="layout-files-select-box">
                                      <option value="" disabled selected>Choose your option</option>
                                    </select>
                                    <label>温度取りデータ</label>
                                </div>
                                <div class="input-field">
                                    <select id="source-files-select-box">
                                      <option value="" disabled selected>Choose your option</option>
                                    </select>
                                    <label>温度取りデータ</label>
                                </div>                                                                
                                <div class="input-field">
                                    <select id="position-files-select-box">
                                      <option value="" disabled selected>Choose your option</option>
                                    </select>
                                    <label>温度取りデータ</label>
                                </div>
                                <div class="row">
                                    <a id="read-layout-button" onclick="importLayoutFiles();" class="waves-effect waves-light btn-large blue"><h5>読み込み</h5></a>
                                </div>
                            </div>
                            <div id="preview-3d-image">
                                <canvas id='layout-3d'></canvas>
                            </div>
                            <p>左クリック: 回転</p>
                            <p>右クリック: 水平移動</p>
                            <p>マウスホイール: スクロール</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2 l6">
                    <div class="card blue-grey white">
                      <div class="card-content grey-text text-darken-3">
                        <span class="card-title">レイアウト設定2D</span>
                        <p>2次元のレイアウト設定を確認できます</p>
                        <p>高さごとにレイアウトを確認できます</p>
                        <p>クリックした座標値を確認できます</p>
                        <div id="layout-2d-form"></div>
                      <div id="preview-2d-image">
                        <div id='layout-2d-box'></div>
                        <div id='point-coordinate'></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="js/setting.js"></script>
</body>
</html>